$black: #000000;
$turquoise: #d0ffbd;
$white: #ffffff;
$transparent: #00000000;

$primary: #2cce74;
$secondary: #196b69;
$accent: #82b1ff;

$error: #ff4444;
$info: #33b5e5;
$success: #00c851;
$warning: #ffbb33;
