$black: #000000;
$turquoise: #d0ffbd;
$white: #ffffff;
$transparent: #00000000;

$primary: #9155fd;
$secondary: #28243d;
$accent: #0d6efd;

$error: #ff4c51;
$info: #16b1ff;
$success: #56ca00;
$warning: #ffb400;
